.page-header .container {
  padding: 20px 10px;
  background-color: var(--white-color);
}

.header {
  margin-left: auto;
  gap: 33px;
  &__link {
    font-weight: 500;
    font-size: 20px;
  }
  &__link:hover {
    color: #ff6464;
  }
}
@media screen and (min-width: 768px) {
  .page-header .container {
    padding: 27px 60px;
  }
}
