.work {
  background-color: #ffffff;
  &__item {
    margin-bottom: 18px;
    margin-top: 21px;
    position: relative;
    text-align: center;
  }
  &__item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #8695a4;
    bottom: -18px;
    left: 0;
  }
  &__item:nth-child(4) {
    margin-top: 50px;
  }
  &__item-text {
    text-align: left;
  }
  &__item-image {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 6px;
    margin-bottom: 17px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    font-family: Heebo;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    color: #21243d;
  }
}
.work .container {
  padding: 0 18px 167px 18px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work .container .section-title {
  margin-top: 21px;
}

.work__description {
  color: #8695a4;
  margin-top: 16px;
  margin-bottom: 25px;
}
.work-info__year {
  font-weight: 900;
  color: #ffffff;
  background-color: #142850;
  border-radius: 16px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 22px;
}
.work-text {
  color: #21243d;
}
.work-subtitle {
  font-family: Heebo;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  color: #21243d;
}
.work-info {
  color: #8695a4;
}
@media screen and (min-width: 768px) {
  .work .container {
    padding: 0 10% 83px 10%;
    align-items: flex-start;
  }
  .work .container .section-title {
    margin-top: 35px;
  }
  .work {
    &__item {
      display: flex;
      margin-bottom: 15px;
      margin-top: 45px;
      gap: 18px;
    }
    &__item:nth-child(2),
    &__item:nth-child(3),
    &__item:nth-child(5) {
      margin-top: 70px;
    }
    &__item::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #8695a4;
      bottom: -15px;
      left: 0;
    }
    &__item-image {
      width: 250px;
    }
  }
}
