:root {
  --white-color: #ffffff;
  --gray-color: #e0e0e0;
  --current-link-color: #ff6464;
  --view-all-btn: #00a8cc;
  --dark-text-color: #21243d;
  --work-info-color: #8695a4;
  --presentation-bg: #e5e5e5;
  --resume-btn-bg: #ff6464;
  --post-section-bg: #edf7fa;
  --info-year-bg: #ff7c7c;
}
